<div class="flipper-container">

	<div class="flipper">
	
		<%= render :partial => 'templates/logo' %>
		<%= render :partial => 'templates/weather' %>

		<div class="back weather-more">
			<button id="flipperClose"><span class="glyphicon glyphicon-remove"></span></button>
		</div>

	</div>

</div>