<footer>

	<div>

		<!-- <div class="share-this">
			<%= image_tag("icons/share_this.png") %>
		</div> -->

		<div class="social">

			<div>
				<a href="https://www.facebook.com/worldwidewanderings" target="_blank">
					<span class="eleganticon social_facebook"></span>
					<span>Like us on Facebook</span>
				</a>
			</div>

			<div>
				<a href="https://twitter.com/WWWanderings" target="_blank">
					<span class="eleganticon social_twitter"></span>
					<span>Follow us on Twitter</span> 
				</a>
			</div>

			<div>
				<a href="https://plus.google.com/u/3/118173062042687563452" target="_blank">
					<span class="eleganticon social_googleplus"></span>
					<span>Add us on Google+</span>
				</a>
			</div>

			<div>
				<a href="http://instagram.com/worldwidewanderings/" target="_blank">
					<span class="eleganticon social_instagram"></span>
					<span>Follow us on Instagram</span>
				</a>
			</div>

		</div>

	</div>

	<div class="copy">
		<p>
			<span class="copyline">&copy; 2015 World Wide Wanderings</span><span>|</span>
			<% if user_signed_in? %>
				<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
			<% else %>
				<%= link_to 'Admin Login', user_session_path %>
			<% end %>
			
		</p>
	</div>

</footer>