	World Wide Wanderings</title>

</head>
	
	<body>

	<p class="notice invisible" id="notice"><%= flash[:notice] %></p>      

		<div class="container">

			<%= render :partial => "templates/nav" %>

			<div class="main">