<div class="logo">

	<%= link_to('/home') do %>
		<!-- <%= image_tag("logo-yellow.png") %> -->
		<span class="eleganticon icon_globe-2"></span>

		<div class="circle outer"></div>
		<div class="circle middle"></div>
		<div class="circle inner"></div>
		
	<% end %>

</div>