<div class="animation logo">

	<%= link_to('/home') do %>
		<!-- <%= image_tag("logo-yellow.png") %> -->
		<span class="eleganticon icon_globe-2"></span>
		
		<div class="circle inner">
			<span class="w">w</span>
		</div>

		<div class="circle middle">
			<span class="w">w</span>
		</div>

		<div class="circle outer">
			<span class="w">w</span>
		</div>

	<% end %>

</div>