<div class="animation logo">

	<%= link_to('/home') do %>
		<!-- <%= image_tag("logo-yellow.png") %> -->
		<div class="desktop">
			<span class="eleganticon icon_globe-2"></span>

			<div class="text orld"><span>orld</span></div>
			<div class="text ide"><span>ide</span></div>
			<div class="text anderings"><span>anderings</span></div>
			
			<div class="circle inner"></div>
			<div class="circle middle"></div>
			<div class="circle outer"></div>

			<span class="w inner">w</span>
			<span class="w middle">w</span>
			<span class="w outer">w</span>

		</div>

		<div class="mobile">
			<span class="eleganticon icon_globe-2"></span>
			<p>
				<span>W</span>orld<br>
				<span>W</span>ide<br>
				<span>W</span>anderings<br>
			</p>
		</div>

	<% end %>

</div>