<div class="slideshow">

	<ul class="bxslider">

	  <!-- <li>
	  	<div>
	  		<img src="/assets/720x700.gif">
	  		<p>This text is here as a test</p>
	  	</div>
	  </li>

	  <li>
	  	<div>
	  		<img src="/assets/720x700.gif">
	  		<p>This text is here as a test</p>
	  	</div>
	  </li>

	  <li>
	  	<div>
	  		<img src="/assets/720x700.gif">
	  		<p>This text is here as a test</p>
	  	</div>
	  </li>

	  <li>
	  	<div>
	  		<img src="/assets/720x700.gif">
	  		<p>This text is here as a test</p>
	  	</div>
	  </li>

	  <li>
	  	<div>
	  		<img src="/assets/720x700.gif">
	  		<p>This text is here as a test</p>
	  	</div>
	  </li>

	  <li>
	  	<div>
	  		<img src="/assets/720x700.gif">
	  		<p>This text is here as a test</p>
	  	</div>
	  </li>

	  <li>
	  	<div>
	  		<img src="/assets/720x700.gif">
	  		<p>This text is here as a test</p>
	  	</div>
	  </li> -->

		<% @slideshow.each do |slide| %>
	  	<li>
	  		<div>
	  			<a href="">Learn More</a>
		  		<span class="slideshow-heading"><%= slide[:name] %></span>
		  		<%= image_tag(slide[:link]) %>
		  		<p><%= slide[:description] %></p>
		  	</div>
	  	</li>
	  <% end %>

	</ul>

</div>
