<div class="slideshow">

	<ul class="bxslider">

		<% @slideshow.each do |slide| %>
	  	<li>
	  		<div style="background: url(<%= slide[:link] %>); background-size: cover;">
	  			<!-- <a href="">Learn More</a> -->
		  		<span class="slideshow-heading"><%= slide[:name] %></span>
		  		<!--<%= image_tag(slide[:link]) %>-->
		  		<!-- <p><%= slide[:description] %></p> -->
		  	</div>
	  	</li>
	  <% end %>

	</ul>

</div>
