<div class="slideshow">

	<ul class="bxslider">
		<% @slideshow.each do |slide| %>
	  	<li>
	  		<h2><%= slide[:name] %></h2>
	  		<img src="/assets/<%= slide[:link] %>">
	  		<p><%= slide[:description] %></p>
	  	</li>
	  <% end %>
	</ul>

</div>
