<div class="slideshow">

	<ul class="bxslider">
	  <li><img src="/assets/720x700.gif"></li>
	  <li><img src="/assets/720x700.gif"></li>
	  <li><img src="/assets/720x700.gif"></li>
	  <li><img src="/assets/720x700.gif"></li>
	  <li><img src="/assets/720x700.gif"></li>
	  <li><img src="/assets/720x700.gif"></li>
	  <li><img src="/assets/720x700.gif"></li>
	</ul>

</div>