<div class="tiles">

	<div class="planner">
		<img src="#">
		<p><span>Travel</span><br>Planner</p>
	</div>

	<div class="currency">
		<img src="#">
		<p><span>Currency</span><br>Converter</p>
	</div>

	<div class="time">
		<img src="#">
		<p><span>Time Zone</span><br>Calculator</p>
	</div>

	<div class=""></div>

	<div class=""></div>

	<div class=""></div>

</div>