<div class="tiles">

	<div class="planner">
		<%= link_to ('/planner') do %>
			<span class="glyphicon glyphicon-calendar"></span>
			<p><span>Travel</span><br>Planner</p>
		<% end %>
	</div>

	<div class="currency">
		<%= link_to ('/converter') do %>
			<span class="glyphicon glyphicon-usd"></span>
			<p><span>Currency</span><br>Converter</p>
		<% end %>
	</div>

	<div class="time">
		<span class="glyphicon glyphicon-time"></span>
		<p><span>Time Zone</span><br>Calculator</p>
	</div>

	<!-- <div class=""></div>

	<div class=""></div>

	<div class=""></div> -->

</div>