<div class="tiles">

	<div class="planner">
		<%= link_to ('/planner') do %>
			<img src="/assets/50x40.gif">
			<p><span>Travel</span><br>Planner</p>
		<% end %>
	</div>

	<div class="currency">
		<img src="/assets/50x40.gif">
		<p><span>Currency</span><br>Converter</p>
	</div>

	<div class="time">
		<img src="/assets/50x40.gif">
		<p><span>Time Zone</span><br>Calculator</p>
	</div>

	<div class=""></div>

	<div class=""></div>

	<div class=""></div>

</div>