<%= render :partial => 'templates/tiles' %>

<div class="slideshow">

</div>

<%= render :partial => 'templates/flipper' %>

<div class="holiday">

</div>

<%= render :partial => 'templates/calendar' %>

<div class="instafeed">

</div>