@import 'imports.css.scss';

input:not([type="file"]),
textarea {
	color: #000;
	background: #fff;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #fff;
	outline: none;

	&:focus {
		border: 1px solid $blue;
	}
}

input {
	&[type="submit"],[type="file"] {
		font-size: 14px;
		margin-bottom: 5px;
		margin-left: 5px;
	}

	&[value="Log in"] {
		margin-top: 5px;
		margin-left: 0;
	}
}