@import 'imports.css.scss';

.login-form {
	width: 30%;
	margin: 0 auto;

	td,
	th {
		text-align: right;
		padding: 20px;
		// width: 50%;
	}

	th,
	label {
		text-transform: uppercase;
		color: $yellow;
		font-weight: normal;
	}

	input[type="checkbox"] {
		display: none;

		& + label span {
			margin-right: 10px;
			color: $link-color;
			font-size: 20px;

			&:before {
				content: "\56";
			}
		}

		&:checked + label span:before {
			content: "\57";
		}
	}

	#login {
		background: $yellow;
		color: $blue;
		border: none;
		border-radius: 0;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: bold;
	}
}

input:not([type="file"]),
textarea {
	color: #000;
	background: #fff;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #fff;
	outline: none;

	&:focus {
		border: 1px solid $blue;
	}
}

input {
	&[type="submit"],[type="file"] {
		font-size: 14px;
		margin-bottom: 5px;
		margin-left: 5px;
	}

	&[value="Log in"] {
		margin-top: 5px;
		margin-left: 0;
	}
}