@import 'imports.css.scss';

.content {
	width: 100%;
	padding: 50px;
	background: #676767;
	color: $light-grey;

	h1 {
		margin: 0 0 50px 0;
		text-transform: uppercase;
	}

	> div {
		width: 100%;
		margin-top: 30px;
	}

	.img {
		display: inline-block;
		position: relative;
		left: 0;
		height: 100%;

		img {
			display: block;
			width: 200px;
			height: 100px;
		}
	}

	.text {
		display: inline-block;
		position: relative;
		left: 0;
		height: 100%;
	}
}