@import 'imports.css.scss';

.container {
	// padding: 0 75.5px;
	display: block;
	width: 100%;
	position: relative;
	margin-bottom: 50px;
	overflow: hidden;

	/* display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around; */
}

// @media (min-width: 1210px) {
// 	.container {
// 		width: 1200px;
// 	}
// }

.main {
	margin-top: $nav-height;
// 	position: relative;
// 	width: 100%;
// 	overflow: auto;
}