@import 'imports.css.scss';

.content {
	width: 100%;
	margin-top: -3px;
	padding: 50px;
	background: $very-light-grey;
	color: $light-grey;

	@media #{$tablet} {
		margin-top: 113px;
	}

	@media #{$phone} {
		margin-top: 0;
	}

	> iframe {
		display: block;
		width: 100%;
		height: 600px;
		border: none;
		// margin-bottom: 25px;

		@media (min-width: 1000px) {
			height: 800px;
		}
	}

	h1 {
		margin: 0 0 50px 0;
		font-family: 'Montserrat';
		font-size: 2rem;
		text-transform: uppercase;
		color: $yellow;

		span:not(.best-in-place) {
			color: #898989;
		}
	}

	ul {
		list-style: none;
	}

	button {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 10px;
		background: $blue;
		color: $light-grey;
		border: none;
		outline: none;
		float: right;
		font-size: 1.25rem;

		@include transition(all 0.3s);

		@media #{$tablet} {
			clear: both;
		}

		&:hover {
			// text-decoration: underline;
			background: $yellow;
			color: $dark-grey;

			.eleganticon {
				color: $dark-grey;
			}

			.caret {
				border-top-color: $dark-grey;
			}
		}

		.eleganticon {
			color: $yellow;
			margin-right: 10px;

			@include transition(all 0.3s);
		}
	}

	hr {
		width: 90%;
		height: 1px;
		margin: 20px auto;
		border: none;
		outline: none;

		@include hr-fade($very-light-grey, $yellow, 25%, 75%);

		&:last-child {
			display: none;
		}
	}
}

.item {
	display: block;
	margin-top: 30px;
	position: relative;

	> div {
		position: relative;
	}

	.description {
		display: inline-block;
		width: calc(100% - 420px);
		// position: relative;
		// top: 0;
		// left: 350px;
		float: right;

		@media #{$hd} {
			width: calc(100% - 525px);
		}

		@media #{$tablet} {
			display: block;
			width: 100%;
			margin-bottom: 20px;
			float: none;
			clear: both;
		}

		h2 {
			display: inline-block;
			font-variant: small-caps;
			margin-bottom: 20px;
			font-size: 1.5rem;
		}

		p {
			line-height: 1.25;
			margin-bottom: 10px;
			font-size: 1.25rem;
		}
	}

	.rating {
		.glyphicon,
		.eleganticon {
			font-size: 1.75rem;
			color: $yellow;
			margin-right: 10px;
		}

		div {
			display: inline-block;
		}

		p {
			display: table-cell;
			vertical-align: middle;
			font-size: 1.375rem;

			.slash {
				color: #898989;
				margin: 0 5px;
			}
		}
	}

	table {
		clear: both;

		td {
			height: 50px;
			padding: 10px;
			vertical-align: middle;

			@media #{$tablet} {
				display: block;
			}
		}

		.glyphicon,
		.eleganticon {
			// float: left;
			font-size: 1.875rem;
			margin-right: 10px;
			color: #898989;
		}

		div {
			display: inline-block;
		}

		p,
		a {
			display: table-cell;
			line-height: 1.875rem;
			font-size: 1.25rem;
			// height: 24px;
			vertical-align: middle;
		}

		a {
			color: $link-color;

			@include transition(all 0.3s);

			&:hover {
				color: $yellow;
			}
		}
	}
}

/* .dash {
	width: 10px;
	margin: 0 5px;
	position: relative;

	&:before {
		content: '';
		width: 100%;
		height: 2px;
		background: #898989;

		@include y-center;
	}
} */

.price-img {
	display: block;
	width: 400px;
	// height: 210px;
	margin-right: 20px;
	position: relative;
	overflow: hidden;
	float: left;

	@media #{$hd} {
		width: 400px * 1.25;
		margin-right: 20px * 1.25;
	}

	@media #{$tablet} {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 25px;
		float: none;
		clear: both;
	}

	img {
		display: block;
		width: 100%;
		height: 100%;
	}

	div {
		position: absolute;
		// top: 70.95%;
		// left: 53.63%;
		bottom: 0;
		right: 0;
		width: 195.58px;
		height: 100px;
		background: $dark-grey;

		@include transform(translate(21.5%, 40%) rotate(-32.47deg));
	}

	p {
		display: inline-block;
		position: absolute;
		bottom: $pricing-pos;
		right: $pricing-pos;
		font-size: 1.625rem;
	}
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 8px;
  vertical-align: middle;
  border-top: $caret-size solid $light-grey;
  border-right: $caret-size solid transparent;
  border-left: $caret-size solid transparent;

  @include transition(all 0.3s);

  &.open {
  	@include transform(rotate(180deg));
  }
}

.map {
	height: 0;
	overflow: hidden;
	margin-top: 10px;

	@include transition(all 0.3s);

	&.open {
		height: 600px;
	}

	iframe {
		display: block;
		width: 100%;
		height: 600px;
		border: none;
	}
}

@media #{$tablet} {
	.map.open {
		height: 400px;

		iframe {
			height: 400px;
		}
	}
}

@media (min-width: 1000px) {
	.map.open {
		// height: 800px;

		iframe {
			// height: 800px;
		}
	}
}

.about-img {
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	overflow: hidden;
	float: left;

	@media #{$tablet} {
		margin: 0 auto;
		margin-bottom: 20px;
		float: none;
	}
}

.about-description {
	width: calc(100% - 220px) !important;
	float: right;

	@media #{$tablet} {
		width: 100% !important;
		float: none;
	}
}