@import 'imports.css.scss';

.flipper-container {
	display: $box-display;
	width: 360px;
	position: relative;
	left: 840px;
	perspective: 1500px;
}

.flipper {
	position: relative;
	transform-style: preserve-3d;

	@include transition(transform 1s);

	.back {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		background: $hover-color;

		@include transform(rotateY(180deg));
	}

	button {
		display: block;
		width: 50px;
		height: 50px;
		position: absolute;
		top: 0;
		right: 0;
		outline: none;
		border: none;
		background: $blue;

		@include transition(all 0.3s);

		&:hover {
			background: $yellow;

			span {
				color: $dark-grey;
			}
		}

		span {
			color: $light-grey;
			font-size: 22px;

			@include transition(all 0.3s);

			&.glyphicon-plus {
				margin-right: -4px;
			}

			&.glyphicon-remove {
				margin-right: -1px;
			}
		}
	}
}

.logo {
	width: 100%;
	height: 360px;
	z-index: 1;
	background: $dark-grey;

	@include backface-visibility(hidden);

	a {
		display: block;
		width: 100%;
		height: 100%;
		border: 10px solid $blue;
		// position: relative;

		@include transition(all 0.3s);

		&:hover {
			border-color: $yellow;
		}

		img {
			// @include xy-center;
		}
	}
}

.weather {
	width: 100%;
	height: 340px;
	padding: 10px;
	position: relative;
	// border: 1px solid #e7e7e7;
	// z-index: 1;
	background: $hover-color;

	@include backface-visibility(hidden);

	button {
		z-index: 1;
	}

	span {
		color: #898989;
		text-transform: uppercase;
		letter-spacing: 1.5px;

		&.temp-high {
			font-size: 50px;
			color: #cd2020;
		}

		&.temp-low {
			font-size: 25px;
			color: $blue;
		}

		&.slash {
			margin: 0 5px;
			font-size: 35px;
		}
	}

	.temp-now {
		color: $light-grey;
		font-size: 50px;
		white-space: nowrap;
	}

	.weather-city {
		text-transform: uppercase;
		color: $yellow;
		font-size: 35px;
		padding-top: 20px;
	}

	.weather-slide {
		z-index: -1;

		.bx-wrapper,
		.bx-viewport {
			height: 302px !important;

			li {
				height: 302px;
			}
		}

		.bx-controls {
			display: none;
		}
	}

	> div {
		width: 100%;
		height: calc(100% - 18px);
		position: relative;
	}

	.hi-lo {
		position: absolute;
		top: 110px;
		right: 0;
	}
}

.weather-graphic {
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: center;

	.icon {
		font-size: 150px;
		font-weight: lighter;
		color: #525252;
		position: absolute;
		bottom: -10px;
		right: 70px;
		z-index: -1;

		// @include x-center;
	}
}

.weather-more {
	background: $light-grey;
	
	@include backface-visibility(hidden);
}
//test