@import 'imports.css.scss';

.flipper-container {
	display: $box-display;
	width: 360px;
	position: relative;
	left: 840px;
	perspective: 1500px;
}

.flipper {
	position: relative;
	transform-style: preserve-3d;

	@include transition(all 1s);

	.logo,
	.weather {
		visibility: visible;
		opacity: 1;

		@include transition(all linear 0s 0.25s)
	}

	.weather-more {
		visibility: hidden;
		opacity: 0;

		@include transition(all linear 0s 0.25s)
	}

	.logo,
	.weather,
	.weather-more {
		* {
			visibility: inherit !important;
		}
	}

	&.flipper-open {
		@include transform(rotateY(180deg));

		.logo,
		.weather {
			visibility: hidden;
			opacity: 0;

			@include transition(all linear 0s 0.25s)
		}

		.weather-more {
			visibility: visible;
			opacity: 1;

			@include transition(all linear 0s 0.25s)
		}
	}

	.back {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		background: $hover-color;

		@include transform(rotateY(180deg));
	}

	button {
		display: block;
		width: 50px;
		height: 50px;
		position: absolute;
		top: 0;
		right: 0;
		outline: none;
		border: none;
		background: $blue;

		@include transition(all 0.3s);

		&:hover {
			background: $yellow;

			span {
				color: $dark-grey;
			}
		}

		span {
			color: $light-grey;
			font-size: 22px;

			@include transition(all 0.3s);

			&.glyphicon-plus {
				margin-right: -4px;
			}

			&.glyphicon-remove {
				margin-right: -1px;
			}
		}
	}
}

.logo {
	width: 100%;
	height: 360px;
	z-index: 1;
	background: $dark-blue;

	// @include backface-visibility(hidden);

	a {
		display: block;
		width: 100%;
		height: 100%;
		border: 10px solid $blue;
		// position: relative;

		@include transition(all 0.3s);

		&:hover {
			border-color: $yellow;
		}

		img {
			// @include xy-center;
		}
	}
}

.weather {
	width: 100%;
	height: 340px;
	padding: 10px;
	position: relative;
	// border: 1px solid #e7e7e7;
	// z-index: 1;
	background: $hover-color;

	// @include backface-visibility(hidden);

	button {
		z-index: 1;
	}

	span {
		color: $span-color;
		text-transform: uppercase;
		letter-spacing: 1.5px;

		&.temp-high {
			font-size: 50px;
			color: #cd2020;
		}

		&.temp-low {
			font-size: 25px;
			color: $blue;
		}

		&.slash {
			margin: 0 5px;
			font-size: 35px;
		}
	}

	.temp-now {
		color: $light-grey;
		font-size: 50px;
		white-space: nowrap;
	}

	.weather-city {
		text-transform: uppercase;
		color: $yellow;
		font-size: 35px;
		padding-top: 20px;
	}

	.weather-slide {
		z-index: -1;

		.bx-wrapper,
		.bx-viewport {
			height: 302px !important;

			li {
				height: 302px;
			}
		}

		.bx-controls {
			display: none;
		}
	}

	> div {
		width: 100%;
		height: calc(100% - 18px);
		position: relative;
	}

	.hi-lo {
		position: absolute;
		top: 110px;
		right: 0;
	}

	.weather-graphic {
		position: absolute;
		bottom: 0;
		right: 0;
		text-align: right;

		.icon {
			font-size: 150px;
			font-weight: lighter;
			color: $icon-color;
			position: absolute;
			bottom: -10px;
			right: 70px;
			z-index: -1;

			// @include x-center;
		}

		.icon-2 {
			right: 200px;
		}
	}
}

.weather-more {
	padding: 10px;
	background: $light-grey;
	
	// @include backface-visibility(hidden);
	
	span {
		color: $span-color;
		text-transform: uppercase;
		letter-spacing: 1.5px;

		&.temp-high {
			font-size: 40px;
			color: #cd2020;
		}

		&.temp-low {
			font-size: 20px;
			color: $blue;
		}

		&.slash {
			margin: 0 5px;
			font-size: 30px;
		}
	}

	.weather-city {
		text-transform: uppercase;
		color: $yellow;
		font-size: 35px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	> div:not(.weather-back-slide),
	li > div {
		width: calc(100% - 20px);
		height: 564px;
		position: absolute;
	}

	> div:not(.weather-back-slide) {
		top: 126px;
	}

	li > div {
		top: 100px;
	}

	.forecast {
		width: 100%;
		height: calc(20% - 20px);
		// padding: 10px;
		position: relative;
		// border-bottom: 1px solid $light-grey;
	}

	.hi-lo {
		position: absolute;
		top: 20px;
		right: 10px;
		z-index: 21;

		// @include transform(translateY(-30%));
	}

	.weather-graphic {
		position: absolute;
		// bottom: 0;
		left: 0;
		width: 100%;
		height: calc(100% - 18px);
		text-align: right;

		div {
			position: relative;
			height: 100%;
		}

		.icon {
			font-size: 90px;
			font-weight: lighter;
			color: $icon-color;
			position: absolute;
			bottom: 10px;
			// bottom: -10px;
			// right: 70px;
			z-index: -1;

			// @include x-center;
		}

		.icon-2 {
			left: 90px;
		}

		span {
			position: absolute;
			left: 100px;
			bottom: -2px;
			text-align: left;
		}
	}

	hr {
		width: 90%;
		height: 1px;
		margin: 10px auto;
		border: none;
		outline: none;

		@include hr-fade($hover-color, $yellow, 25%, 75%);
	}

	.weather-back-slide {
		z-index: -1;

		.bx-wrapper,
		.bx-viewport {
			height: 662px !important;

			li {
				height: 662px;
			}
		}

		.bx-controls {
			display: none;
		}
	}
}