@import 'imports.css.scss';

.flipper-container {
	display: $box-display;
	width: 360px;
	position: absolute;
	// left: 840px;
	right: 0;
	
	@include perspective(1500px);

	@media #{$hd} {
		width: 462.857px;
	}

	@media #{$phone} {
		width: 100%;
		position: relative;
		margin-top: -3px;
	}
}

.flipper {
	position: relative;
	transform-style: preserve-3d;

	@include transition(all 1s);

	.logo,
	.weather {
		visibility: visible;
		opacity: 1;

		@include transition(all linear 0s 0.25s)
	}

	.weather-more {
		visibility: hidden;
		opacity: 0;

		@include transition(all linear 0s 0.25s)
	}

	.logo,
	.weather,
	.weather-more {
		* {
			visibility: inherit !important;
		}
	}

	&.flipper-open {
		@include transform(rotateY(180deg));

		.logo,
		.weather {
			visibility: hidden;
			opacity: 0;

			@include transition(all linear 0s 0.25s)
		}

		.weather-more {
			visibility: visible;
			opacity: 1;

			@include transition(all linear 0s 0.25s)
		}
	}

	.back {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		background: $dark-grey;

		@include transform(rotateY(180deg));
	}

	button {
		display: block;
		width: 50px;
		height: 50px;
		position: absolute;
		top: 0;
		right: 0;
		outline: none;
		border: none;
		background: $blue;

		@include transition(all 0.3s);

		&:hover {
			background: $yellow;

			span {
				color: $dark-grey;
			}
		}

		span {
			color: $light-grey;
			font-size: 1.375rem;

			@include transition(all 0.3s);

			&.glyphicon-plus {
				margin-right: -4px;
			}

			&.glyphicon-remove {
				margin-right: -1px;
			}
		}
	}
}

.logo {
	width: 100%;
	height: 360px;
	z-index: 1;
	background: $dark-grey;

	// @include backface-visibility(hidden);

	@media #{$hd} {
		height: 462.857px;
	}

	.desktop {
		@media #{$tablet} {
			display: none;
		}
	}

	.mobile {
		display: none;
		width: 100%;
		height: 100%;

		@media #{$tablet} {
			@include flex;
		}

		.eleganticon {
			opacity: 0.5;

			@include transform(translate(calc(-50% - 3px), calc(-50% - 3px)) scale(2) !important);
		}

		p {
			display: block;
			width: 100%;
			// height: 100%;
			vertical-align: middle;
			margin: auto;
			text-align: center;
			font-size: 45px;
			font-weight: bolder;
			text-transform: uppercase;
			color: $light-grey;
			line-height: 1.25;

			span {
				color: $yellow;
			}
		}
	}

	a {
		display: block;
		width: 100%;
		height: 100%;
		border: 10px solid $blue;
		position: relative;
		// position: relative;

		@include transition(all 0.3s);

		&:hover {
			border-color: $yellow;
		}

		img {
			// @include xy-center;
		}
	}
}

.weather {
	width: 100%;
	height: 340px;
	padding: 10px;
	position: relative;
	// border: 1px solid #e7e7e7;
	// z-index: 1;
	background: $dark-grey;

	// @include backface-visibility(hidden);

	@media #{$hd} {
		height: 438.143px;
		padding: 10px * 1.25;
	}

	button {
		z-index: 1;
	}

	span {
		color: $span-color;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		font-size: 1rem;

		@media #{$hd} {
			font-size: 1.25rem;
		}

		&.temp-high {
			font-size: 3.125rem;
			color: #cd2020;

			@media #{$hd} {
				font-size: 3.125rem * 1.25;
			}
		}

		&.temp-low {
			font-size: 1.5625rem;
			color: $blue;

			@media #{$hd} {
				font-size: 1.5625rem * 1.25;
			}
		}

		&.slash {
			margin: 0 5px;
			font-size: 2.1875rem;

			@media #{$hd} {
				margin: 0.5px * 2;
				font-size: 2.1875rem * 1.25;
			}
		}
	}

	.temp-now {
		font-family: 'Montserrat';
		color: $light-grey;
		font-size: 3.125rem;
		white-space: nowrap;

		@media #{$hd} {
			font-size: 3.125rem * 1.25;
		}
	}

	.weather-city {
		font-family: 'Montserrat';
		text-transform: uppercase;
		color: $yellow;
		font-size: 2.1875rem;
		padding-top: 20px;

		@media #{$hd} {
			font-size: 2.1875rem * 1.25;
			padding-top: 20px * 1.25;
		}
	}

	.weather-slide {
		z-index: -1;

		.bx-wrapper,
		.bx-viewport {
			height: 302px !important;

			@media #{$hd} {
				height: 302px * 1.25 !important;
			}

			li {
				height: 302px;

				@media #{$hd} {
					height: 302px * 1.25;
				}
			}
		}
		.bx-controls {
			display: none;
		}
	}

	> div {
		width: 100%;
		height: calc(100% - 18px);
		position: relative;

		@media #{$hd} {
			height: calc(100% - 22.5px);
		}
	}

	.hi-lo {
		position: absolute;
		top: 110px;
		right: 0;
		font-family: 'Montserrat';

		@media #{$hd} {
			top: 110px * 1.25;
		}
	}

	.weather-graphic {
		position: absolute;
		bottom: 0;
		right: 0;
		text-align: right;

		.icon {
			font-size: 9.375rem;
			font-weight: lighter;
			color: $icon-color;
			position: absolute;
			bottom: -10px;
			right: 70px;
			z-index: -1;

			// @include x-center;

			@media #{$hd} {
				font-size: 9.375rem * 1.25;
				bottom: -10px * 1.25;
				right: 70px * 1.25;
			}
		}

		.icon-2 {
			right: 200px;

			@media #{$hd} {
				right: 200px * 1.25;
			}
		}
	}
}

.weather-more {
	padding: 10px;
	background: $light-grey;
	
	// @include backface-visibility(hidden);

	@media #{$hd} {
		padding: 10px * 1.25;
	}
	
	span {
		color: $span-color;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		font-size: 1rem;

		@media #{$hd} {
			font-size: 1.25rem;
		}

		&.temp-high {
			font-size: 2.5rem;
			color: #cd2020;

			@media #{$hd} {
				font-size: 2.5rem * 1.25;
			}
		}

		&.temp-low {
			font-size: 1.25rem;
			color: $blue;

			@media #{$hd} {
				font-size: 1.25rem * 1.25;
			}
		}

		&.slash {
			margin: 0 5px;
			font-size: 1.875rem;

			@media #{$hd} {
				font-size: 1.875rem * 1.25;
			}
		}
	}

	.weather-city {
		font-family: 'Montserrat';
		text-transform: uppercase;
		color: $yellow;
		font-size: 2.1875rem;
		padding-top: 10px;
		padding-bottom: 10px;

		@media #{$hd} {
			font-size: 2.1875rem * 1.25;
			padding-top: 10px * 1.25;
			padding-bottom: 10px * 1.25;
		}
	}

	> div:not(.weather-back-slide),
	li > div {
		width: calc(100% - 20px);
		height: 564px;
		position: absolute;

		@media #{$hd} {
			width: calc(100% - 25px);
			height: 564px * 1.25;
		}
	}

	> div:not(.weather-back-slide) {
		top: 126px;

		@media #{$hd} {
			top: 126px * 1.25;
		}
	}

	li > div {
		top: 100px;

		@media #{$hd} {
			top: 100px * 1.25;
		}
	}

	.forecast {
		width: 100%;
		height: calc(20% - 20px);
		// padding: 10px;
		position: relative;
		// border-bottom: 1px solid $light-grey;

		@media #{$hd} {
			width: calc(100% - 25px);
		}
	}

	.hi-lo {
		position: absolute;
		top: 20px;
		right: 10px;
		z-index: 21;
		font-family: 'Montserrat';

		// @include transform(translateY(-30%));

		@media #{$hd} {
			top: 20px * 1.25;
			right: 10px * 1.25;
		}
	}

	.weather-graphic {
		position: absolute;
		// bottom: 0;
		left: 0;
		width: 100%;
		height: calc(100% - 18px);
		text-align: right;

		@media #{$hd} {
			height: calc(100% - 22.5px);
		}

		div {
			position: relative;
			height: 100%;
		}

		.icon {
			font-size: 5.625rem;
			font-weight: lighter;
			color: $icon-color;
			position: absolute;
			bottom: 10px;
			// bottom: -10px;
			// right: 70px;
			z-index: -1;

			// @include x-center;

			@media #{$hd} {
				font-size: 5.625rem * 1.25;
				bottom: 10px * 1.25;
			}
		}

		.icon-2 {
			left: 90px;

			@media #{$hd} {
				left: 90px * 1.25;
			}
		}

		span {
			position: absolute;
			left: 100px;
			bottom: -2px;
			text-align: left;

			@media #{$hd} {
				left: 100px * 1.25;
				bottom: -2px * 1.25;
			}
		}
	}

	hr {
		width: 90%;
		height: 1px;
		margin: 10px auto;
		border: none;
		outline: none;

		@include hr-fade($hover-color, $yellow, 25%, 75%);

		@media #{$hd} {
			height: 1.25px;
			margin: 10px * 1.25 auto;
		}
	}

	.weather-back-slide {
		z-index: -1;

		.bx-wrapper,
		.bx-viewport {
			height: 662px !important;

			@media #{$hd} {
				height: 662px * 1.3 !important;
			}

			li {
				height: 662px;

				@media #{$hd} {
					height: 662px * 1.3;
				}
			}
		}

		.bx-controls {
			display: none;
		}
	}
}