@import 'imports.css.scss';
@import url(http://fonts.googleapis.com/css?family=Montserrat);

nav {
	width: 100%;
	height: $nav-height;
	position: fixed;
	top: 0;
	background: $body-bg;
	// border: 1px solid #e7e7e7;
	z-index: 9999;
	text-transform: uppercase;
	letter-spacing: 1.5px;

	@include transition(top 0.2s ease-in-out);

	&.nav-up {
		top: -$nav-height;
	}

	a {
		color: $light-grey;
	}

	button {
		display: none;
		position: absolute;
		right: 0;
		border: none;
		outline: none;
		background: transparent;

		@include transition(all 0.3s);

		@media #{$tablet} {
			display: block;
			width: $nav-height;
			height: $nav-height;
		}

		&:hover {
			.nav-arrow:before,
			.nav-arrow:after {
				background: $yellow;
			}
		}
	}
}

.nav-right {
	height: 100%;
	float: right;
	// margin-right: 10%;

	@include nav-flex;

	@media #{$tablet} {
		display: none;
	}

	> div {
		display: inline-block;
		height: 100%;
		// border: 1px solid #e7e7e7;
		// margin: 0 -3px;
		z-index: 9999;

		@include transition(all 0.3s);

		&:hover {
			background: $hover-color;
			color: $yellow;

			> span {
				color: $yellow;
			}
		}

		> a {
			display: block;
			width: 100%;
			height: 100%;
			// margin: auto;
			padding: 15px 20px;

			span {
				font-weight: bolder;
			}
		}

		> span {
			font-weight: bolder;
		}

		/* span {
			margin: auto;
		} */

		.nav-heading {
			position: relative;
			top: 7px;
		}
	}
}

.nav-header {
	height: 100%;
	position: absolute;
	left: 0;
	font-family: 'Montserrat';
	font-size: 1.5rem;
	font-weight: bold;

	a {
		display: block;
		height: 100%;
		padding: 29px;

		&:hover {
			span {
				color: $blue;
			}
		}
	}

	.eleganticon {
		padding-right: 10px;
		color: $blue;
	}

	span {
		@include transition(all 0.3s);
	}

	.hide {
		@media #{$phone} {
			display: none;
		}
	}

	.first-letter {
		color: $yellow;
	}
}

.dropdown {
	padding: $dropdown-padding-y 25px;
	position: relative;

	&:hover,
	&:focus {
		> div {
			opacity: 1;
			visibility: visible;
			// max-height: 400px;

			@include transition(all 0.3s);
		}
	}
}

.nav-list {
	width: 100%;
	background: $hover-color;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	// top: 200%;
	// top: 100%;
	// width: 1201px;
	min-width: 222px;
	// max-height: 0px;
	padding: 25px;
	padding-left: 0px;
	z-index: 9999;
	top: $nav-height;
	// left: 0;
	right: 0;
	// overflow-x: visible;
	// overflow-y: hidden;

	@include transition(all 0.1s);
}

.nav-item {
	display: block;
	// width: 187px;
	padding: 20px 0;
	position: relative;

	&:hover {
		span:not(.eleganticon) {
			background: $yellow;
			color: $dark-grey;

			&:after {
				opacity: 1;
				visibility: visible;
			}
		}

		ul {
			opacity: 1;
			visibility: visible;
		}
	}

	span {
		padding: 5px;
		padding-left: 25px;
		font-weight: bolder;
		color: $yellow;
		position: relative;

		@include transition(all 0.3s);

		&:after {
			content: '';
			width: 0;
			height: 0;
			border: 14px solid transparent;
			border-right: 14px solid $yellow;
			position: absolute;
			top: 0;
			right: 100%;
			opacity: 0;
			visibility: hidden;

			@include transition(all 0.3s);
		}
	}

	.eleganticon {
		font-weight: normal;
	}

	ul {
		list-style: none;
		margin: 0;
		right: 100%;
		opacity: 0;
		visibility: hidden;
		background: $dark-grey;
		z-index: -1;
		padding: 5px 18px 10px 10px;

		@include transition(all 0.3s);
		@include y-center;
	}

	li {
		margin: 5px 0;
		padding-left: 5px;
		text-align: right;

		a {
			// padding-left: 10px;
		}
	}

	li:last-child {
		margin-bottom: 0;
	}

	a {
		display: inline-block;
		// width: 100%;
		padding: 5px;

		@include transition(all 0.3s);

		&:hover {
			background: $yellow;
			color: $dark-grey;

			span {
				color: $dark-grey;
			}
		}
	}
}

.nav-arrow {
	display: inline-block;
	width: 100%;
	height: 100%;

	&:before,
	&:after {
		content: '';
		position: absolute;
		right: 50%;

		// @include xy-center;
		@include transition(background 0.3s);
		@include nav-arrow;
	}

	&:before {
		top: $nav-arrow-y-pos;

		@include transform(translateX(50%) rotate(180deg - $arrow-rotate));
	}

	&:after {
		bottom: $nav-arrow-y-pos;

		@include transform(translateX(50%) rotate(-180deg + $arrow-rotate));
	}

	&.open {
		&:before {
			@include transform(translateX(50%) rotate($arrow-rotate));
		}

		&:after {
			@include transform(translateX(50%) rotate(-$arrow-rotate));
		}
	}
}

.nav-mobile {
	display: none;
	width: $mobile-nav-width;
	padding: 25px;
	position: fixed;
	top: $nav-height;
	bottom: 0;
	right: -$mobile-nav-width;
	background: $body-bg;
	overflow: auto;
	text-align: right;
	font-size: 22px;

	@include transition(all 0.3s);

	@media #{$tablet} {
		display: block;
	}

	&.open {
		right: 0;
	}

	& > div > div {
		// padding: 10px 0;
	}

	.nav-heading {
		display: block;
		color: $span-color;
		font-weight: bolder;
		margin-bottom: 10px;
	}

	.package-name {
		display: block;
		padding: 10px 0;
		color: $yellow;

		&:hover {
			cursor: pointer;
		}
	}

	.mobile-nav-list {
		height: 0;
		margin-right: 10px;
		overflow: hidden;
		list-style: none;

		@include transition(all 0.3s);

		&.open {
			height: 55px * 4;
		}

		li {
			margin: 15px 0;
		}

		a {
			display: inline-block;
			padding: 5px;

			@include transition(all 0.3s);

			&:hover {
				background: $yellow;
				color: $dark-grey;

				span {
					color: $dark-grey;
				}
			}
		}

		.eleganticon {
			color: $yellow;
			padding-left: 25px;

			@include transition(all 0.3s);
		}
	}
}