@import 'imports.css.scss';

.slideshow {
	display: $box-display;
	width: calc(100% - 480px);
	height: $slideshow-height;
	position: relative;
	// top: 65px;
	// left: 120px;
	// left: -4px;
	// border: 1px solid #e7e7e7;
	// color: $dark-grey;
	overflow: hidden;

	@media #{$hd} {
		width: calc(100% - 582.857px);
		height: 900px;
	}

	@media #{$tablet} {
		width: calc(100% - 360px);
		height: $slideshow-height - 116px;
	}

	@media #{$phone} {
		width: 100%;
		height: 400px;
	}

	li {
		height: $slideshow-height;

		@media #{$hd} {
			height: 900px;
		}

		@media #{$tablet} {
			height: $slideshow-height - 116px;
		}

		@media #{$phone} {
			height: 400px;
		}

			div {
			position: relative;
			width: 100%;
			height: 100%;
			padding: 50px;

			@media #{$phone} {
				padding: 20px;
			}

			img {
				z-index: -1;
				min-width: calc(100% + 1px);
				// min-height: 100%;
				// margin-left: -1px;
				
				@include xy-center;
			}
		}

		a {
			display: inline-block;
			padding: 15px;
			position: relative;
			top: 0;
			left: 0;
			background: $yellow;
			color: $dark-grey;
			text-transform: uppercase;

			@include transition(all 0.3s);

			&:hover {
				background: $blue;
				color: $light-grey;
			}
		}

		span {
			color: $blue;
			font-size: 1.5rem;
			font-variant: small-caps;
			font-weight: bold;
			padding: 5px;
			background: $yellow;
		}

		p {
			position: relative;
			top: 70%;
			color: $dark-grey;
		}
	}

	.bx-wrapper,
	.bx-viewport {
		height: $slideshow-height !important;

		@media #{$hd} {
			height: 900px !important;
		}

		@media #{$tablet} {
			height: $slideshow-height - 116px !important;
		}

		@media #{$phone} {
			height: 400px !important;
		}
	}
}

// @media (min-height: 901px) {
// 	.slideshow {
// 		height: 900px !important;

// 		li {
// 			height: 900px !important;
// 		}

// 		.bx-wrapper,
// 		.bx-viewport {
// 			height: 900px !important;
// 		}
// 	}
// }

.slideshow-heading {
	display: block;
	max-width: 450px;
	position: absolute;
	top: 50px;
	right: 50px;
	text-align: right;

	@media #{$phone} {
		top: 20px;
		right: 20px;
	}
}

.arrow {
	display: inline-block;
	width: 100%;
	height: 100%;
	// right: 10px;

	&:before,
	&:after {
		content: '';
		position: absolute;
		// right: 6px;

		@include transition(background 0.3s ease);
		@include arrow;
	}

	&:before {
		top: $arrow-y-pos;
	}

	&:after {
		bottom: $arrow-y-pos;
	}

	&.arrow-left {
		&:before,
		&:after {
			right: $arrow-x-pos;
		}

		&:before {
			@include transform(rotate(-$arrow-rotate));
		}

		&:after {
			@include transform(rotate($arrow-rotate));
		}
	}

	&.arrow-right {
		&:before,
		&:after {
			left: $arrow-x-pos;
		}

		&:before {
			@include transform(rotate($arrow-rotate));
		}

		&:after {
			@include transform(rotate(-$arrow-rotate));
		}
	}
}

.bx-next:hover,
.bx-prev:hover {
	.arrow:before,
	.arrow:after {
		background: $yellow;
	}
}

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	// -moz-box-shadow: 0 0 5px #ccc;
	// -webkit-box-shadow: 0 0 5px #ccc;
	// box-shadow: 0 0 5px #ccc;
	// border:  5px solid #fff;
	// left: -5px;
	// background: #fff;
	
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: 30px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(/assets/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	// z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;

	@include transition(all 0.3s);
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	@include transition(all 0.3s);
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #e6b122;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: -37px;
	// background: url(/assets/controls.png) no-repeat 0 -32px;
	border-top-right-radius: 37px;
	border-bottom-right-radius: 37px;
}

.bx-wrapper .bx-next {
	right: -37px;
	// background: url(/assets/controls.png) no-repeat -43px -32px;
	border-top-left-radius: 37px;
	border-bottom-left-radius: 37px;
}

.bx-wrapper .bx-prev:hover {
	// background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	// background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -37px;
	outline: 0;
	width: 74px;
	height: 74px;
	text-indent: -9999px;
	background: $light-grey;
	// z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}
