@import 'imports.css.scss';

.tiles {
	display: $box-display;
	width: 120px;
	height: $slideshow-height;
	// border: 1px solid #e7e7e7;
	float: left;
	text-transform: uppercase;
	text-align: center;
	font-size: 0.875rem;
	background: $blue;

	@media #{$hd} {
		height: 900px;
	}

	@media #{$tablet} {
		position: absolute;
		top: $slideshow-height - 31px;
		left: 0;
		width: calc(100% - 360px);
		height: 116px;
	}

	@media #{$tablet-only} {
		width: calc(100% - 280px);
	}

	@media #{$phone} {
		position: relative;
		top: 0;
		width: 100%;
	}

	> div {
		width: 100%;
		height: 116px;
		// border: 1px solid $light-grey;

		@media #{$tablet} {
			display: inline-block;
			width: 33.33333%;
			float: left;
		}

		a {
			display: block;
			width: 100%;
			height: 100%;
			padding: 15px 0;
			color: $light-grey;

			@include transition(all 0.3s);

			p span {
				@include transition(all 0.3s);
			}

			&:hover {
				background: $yellow;
				color: $dark-grey;

				p span {
					color: $dark-grey;
				}
			}
		}
	}

	.glyphicon,
	.eleganticon {
		display: block;
		width: 50px;
		height: 40px;
		margin: 0 auto;
		font-size: 2.1875rem;
		position: relative;

		&:before {
			@include xy-center;
		}
	}

	p {
		margin-top: 14px;

		span {
			color: $yellow;
		}
	}
}

// @media (min-height: 901px) {
// 	.tiles {
// 		height: 900px;
// 	}
// }