@import 'imports.css.scss';

.tiles {
	width: 120px;
	height: 700px;
	border: 1px solid #e7e7e7;
	left: 0;

	> div {
		width: 100%;
		height: 116px;
		border: 1px solid $light-grey;

		@include transition(all 0.3s);

		&:hover {
			background: #3a3a3a;
		}
	}
}