// Place all the styles related to the planner controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'partials/imports.css.scss';

form {
	text-align: center;
}

.question {
	text-align: center;

	@include transition(all .8s);

	span {
		position: relative;
		margin-top: 30px;
		display: block;
		font-size: 42px;
	}	
}

.answer-group {
	margin: 0 auto;
	width: 450px;
}

.answer {
	color: #000;
	position: relative;
	display:block;
	text-align: left;
	border-radius: 10px;
	background-color: #777;
	margin: 30px;
	padding: 20px 50px;
	font-size: 24px;
	overflow: hidden;

	@include transition(all .3s);

	label {
		width: 100%;
		height: 100%;
		&:hover {
			cursor: pointer;
		}
	}

	&:hover {
		cursor: pointer;
		:after {
			cursor: pointer;
			width: 15%;
			height: 300%;
		}
	}

	:after {
		content: '';
    position: absolute;
    right: 0;
		top:0;
		z-index: -1;
		width:30%;
		height:200%;
		background-color: #aaa;		
		
		@include transform-origin(0 0);
		@include transform(rotate(-20deg));
		@include transition(all .3s);	    
	}
}

@include hover-color('.red', #f11, #f55);
@include hover-color('.green', #1f1, #5f5);
@include hover-color('.blue', #11f, #55f);

.left-away {
	visibility: hidden;

	@include transform(translate(-1500px,0));
	//display: none;
}

.right-away {
	@include transform(translate(1500px,0));
	visibility: hidden;
	display:none
}

.none {
	z-index:-20;
}

.selected {
	@extend .answer:hover;
	box-shadow: 0 0 10px 1px #fff;
}

button {
	color: #000;
}

.btn-slide {
	margin: 0 auto;
	display: inline-block;
	border-radius: 10px;
}

#next {
	color: #000;
	position: relative;
	background-color: #dba218;
	width: 220px;
	//margin: 30px;
	padding: 20px 70px 20px 20px;
	font-size: 24px;
	overflow: hidden;
	border: none;
	margin-left: 45px;
	//margin-right: 30px;
	text-align: left;
	//text-indent: 20px;

	@include transition(all .3s);	

	&:after {
		content: '';
    position: absolute;
    right: 0;
		top:0;
		z-index: -1;
		width:40%;
		height:200%;
		background-color: #ffcd3d;		
		
		@include transform-origin(0 0);
		@include transform(rotate(-20deg));
		@include transition(all .3s);	    
	}

	&:before {
		position: absolute;
		left: auto;
		top: auto;
		bottom: auto;
		right: 0px;
		z-index: 2;
		height: 100%;
		width: 30%;
		line-height: 1;
		font-size: 30px;

		@include transition(all .3s);	
	}

	&:hover {
		background-color: #c49308;

		&:after {
			width: 25%;
			height: 300%;
			background-color: #eb2;
		}

		&:before {
			right: -10px;
		}
	}
}

#previous {
	color: #000;
	position: relative;
	background-color: #dba218;
	//margin: 30px;
	width: 220px;
	padding: 20px 20px 20px 0px;
	font-size: 24px;
	overflow: hidden;
	border: none;
	//margin-left: 30px;
	margin-right: 45px;
	text-align: right;

	@include transition(all .3s);	

	&:after {
		content: '';
    position: absolute;
    left: 0;
		bottom:0;
		z-index: -1;
		width:50%;
		height:300%;
		background-color: #ffcd3d;		
		
		@include transform-origin(0 0);
		@include transform(rotate(20deg));
		@include transition(all .3s);	    
	}

	&:before {
		transition: all .3s;
		position: absolute;
		left: -20px;
		top: auto;
		bottom: auto;
		right: auto;
		z-index: 2;
		height: 100%;
		width: 30%;
		line-height: 1;
		font-size: 30px;
	}

	&:hover {
		background-color: #c49308;

		&:after {
			width:37%;
			background-color: #eb2;
		}

		&:before {
			left: -30px;
		}
	}
}

.grey-left {
	background-color: #444 !important;

	&:after {
		background-color: #555 !important;
	}

	&:hover {
		cursor: default;

		&:after {
			width: 50% !important;
			background-color: #555 !important;
		}

		&:before {
			left: -20px !important;
		}
	}
}

.grey-right {
	background-color: #444 !important;

	&:after {
		background-color: #555 !important;
	}

	&:hover {
		cursor: default;

		&:after {
			width: 40% !important;
			background-color: #555 !important;
		}

		&:before {
			right: 0px !important;
		}
	}
}

nav {
	top: 0;
}

input[type="radio"] {
	display: none;
}

.divider {
	font-size: 56px;
}

.count {
	font-size: 32px;
	display: inline-block;
}

#current {
	@include transform(translate(2px,-15px));
}

#number {
	@include transform(translate(-3px,2px));
}

.display {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 0 auto;

	@include transform(translate(-50%, -50%));
}

.controls {
	margin-top: 70px;
	position: relative;
}