// Place all the styles related to the planner controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'partials/imports.css.scss';

form {
	text-align: center;
}

.question {
	text-align: center;

	@include transition(all .8s);

	.span-question {
		position: relative;
		margin-top: 30px;
		display: block;
		font-size: 42px;
	}	
}

.answer-group {
	margin: 0 auto;
	width: 450px;
}

.answer {
	color: #000;
	position: relative;
	display:block;
	text-align: left;
	border-radius: 10px;
	background-color: #777;
	margin: 30px;
	padding: 20px 50px;
	font-size: 24px;
	overflow: hidden;

	@include transition(all .3s);

	label {
		width: 100%;
		height: 100%;
		&:hover {
			cursor: pointer;
		}
	}

	&:hover {
		cursor: pointer;
		:after {
			cursor: pointer;
			width: 15%;
			height: 300%;
		}
	}

	:after {
		content: '';
    position: absolute;
    right: 0;
		top:0;
		z-index: -1;
		width:30%;
		height:200%;
		background-color: #aaa;		
		
		@include transform-origin(0 0);
		@include transform(rotate(-20deg));
		@include transition(all .3s);	    
	}
}

@include hover-color('.red', #f11, #f55);
@include hover-color('.green', #1f1, #5f5);
@include hover-color('.blue', #11f, #55f);

.left-away {
	visibility: hidden;

	@include transform(translate(-1500px,0));
	//display: none;
}

.right-away {
	@include transform(translate(1500px,0));
	visibility: hidden;
	display:none
}

.none {
	z-index:-20;
}

.selected {
	:after {
		width: 15%;
	}
	box-shadow: 0 0 10px 1px #fff;
}

button {
	color: #000;
}

.btn-slide {
	margin: 0 auto;
	display: inline-block;
	border-radius: 10px;
}

#next,#suggest-continue {
	color: #000;
	position: relative;
	background-color: #dba218;
	width: 220px;
	//margin: 30px;
	padding: 20px 70px 20px 20px;
	font-size: 24px;
	overflow: hidden;
	border: none;
	margin-left: 45px;
	//margin-right: 30px;
	text-align: left;
	//text-indent: 20px;

	@include transition(all .3s);	

	&:after {
		content: '';
    position: absolute;
    right: 0;
		top:0;
		z-index: -1;
		width:40%;
		height:200%;
		background-color: #ffcd3d;		
		
		@include transform-origin(0 0);
		@include transform(rotate(-20deg));
		@include transition(all .3s);	    
	}

	&:before {
		position: absolute;
		left: auto;
		top: auto;
		bottom: auto;
		right: 0px;
		z-index: 2;
		height: 100%;
		width: 30%;
		line-height: 1;
		font-size: 30px;

		@include transition(all .3s);	
	}

	&:hover {
		background-color: #c49308;

		&:after {
			width: 25%;
			height: 300%;
			background-color: #eb2;
		}

		&:before {
			right: -10px;
		}
	}
}

#previous {
	color: #000;
	position: relative;
	background-color: #dba218;
	//margin: 30px;
	width: 220px;
	padding: 20px 20px 20px 0px;
	font-size: 24px;
	overflow: hidden;
	border: none;
	//margin-left: 30px;
	margin-right: 45px;
	text-align: right;

	@include transition(all .3s);	

	&:after {
		content: '';
    position: absolute;
    left: 0;
		bottom:0;
		z-index: -1;
		width:50%;
		height:300%;
		background-color: #ffcd3d;		
		
		@include transform-origin(0 0);
		@include transform(rotate(20deg));
		@include transition(all .3s);	    
	}

	&:before {
		transition: all .3s;
		position: absolute;
		left: -20px;
		top: auto;
		bottom: auto;
		right: auto;
		z-index: 2;
		height: 100%;
		width: 30%;
		line-height: 1;
		font-size: 30px;
	}

	&:hover {
		background-color: #c49308;

		&:after {
			width:37%;
			background-color: #eb2;
		}

		&:before {
			left: -30px;
		}
	}
}

.grey-left {
	background-color: #444 !important;

	&:after {
		background-color: #555 !important;
	}

	&:hover {
		cursor: default;

		&:after {
			width: 50% !important;
			background-color: #555 !important;
		}

		&:before {
			left: -20px !important;
		}
	}
}

.continue {
	background-color: #1c1 !important;

	&:after {
		background-color: #47ff47 !important;
	}
}

nav {
	top: 0;
}

input[type="radio"] {
	display: none;
}

.divider {
	font-size: 56px;
}

.count {
	font-size: 32px;
	display: inline-block;
}

#current {
	@include transform(translate(2px,-15px));
}

#number {
	@include transform(translate(-3px,2px));
}

.display {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 0 auto;

	@include transform(translate(-50%, -50%));
}

.controls {
	margin-top: 70px;
	position: relative;

}
.city-container {
	text-align: center;
	position: relative;
}

.city-name {
	position: absolute;
	top: 20px;
	left: 50%;
	font-weight: bold;
	text-shadow: 3px 3px 3px #000;
	@include transform(translate(-50%, 0));
	font-size: 72px;
	color: #dba218;
	//margin: 0 auto;
}

.package-image {
	display: block;
	height: 500px;
	margin: 0 auto;
	box-shadow: 4px 4px 5px 5px #000;
	margin-bottom: 10px;
	//width: 500px;
}

.recommend {
	position: relative;	
	text-align: center;
	
}

.recommend-span {
	font-size: 42px;
	margin: 10px 0 20px 0;
	display: block;
}

#another {
	color: #000;
	position: relative;
	background-color: #dba218;
	//margin: 30px;
	width: 220px;
	padding: 20px 10px 20px 10px;
	font-size: 24px;
	overflow: hidden;
	border: none;
	//margin-left: 30px;
	margin-right: 45px;
	text-decoration: none;
	//text-align: right;

	@include transition(all .3s);	

	&:after {
		background-color: #36648f;
	}

	&:before {
		transition: all .3s;
		position: absolute;
		left: -20px;
		top: auto;
		bottom: auto;
		right: auto;
		z-index: 2;
		height: 100%;
		width: 30%;
		line-height: 1;
		font-size: 30px;
	}

	&:hover {
		background-color: #dba218;

		&:after {			
			background-color: #36648f;
		}
	}
}

.show {
	top: 0 !important;
	left:0;
	right:0;
	bottom:0;
}

.no-overflow {
	overflow: hidden;
}

#cities {
	overflow: auto;
	z-index: 10000;
	width: 100%;
	height: 100%;	
	position: fixed;
	top: 100%;
	transition: all 2s;
	background-color: #444;

	.down {
		width: 100%;
		height: 60px;
		background-color: #333;
		position: fixed;
		z-index:10001;
		text-align: center;

		@include transition(background 0.3s ease);
		@include transition(all 0.5s ease);

		#arrows {
			&:after, &:before {
				content: '';
				position: absolute;
				top: 50%;				
				display: inline-block;
				width: 40px;
				height: 6px;
				background: #fff;
				border-radius: 5px;
				box-shadow: 0 0 10px rgba(200,200,200,0.7);
			}
			&:after {				
				@include transform(translateY(-50%) rotate(-25deg));
				left:49.7%;
			}		
			&:before {
				@include transform(translateY(-50%) rotate(25deg));
				right:49.7%;
			}
		}

		&:hover {
			background-color: #444;
			cursor: pointer;
			#arrows {
			&:after, &:before {
					background: #dba218;
				}
			}
		}
	}

	.content {
		padding-top: 80px;

		.pick-content {
			overflow: hidden;
		}
	}

	.choose {
		color: #000;
		position: relative;
		background-color: #dba218;
		//margin: 30px;
		width: 220px;
		padding: 20px 10px 20px 10px;
		font-size: 24px;
		overflow: hidden;
		border: none;
		//margin-left: 30px;
		margin-right: 45px;
		text-decoration: none;
		float: none;
		//text-align: right;

		@include transition(all .3s);	

		&:after {
			background-color: #36648f;
		}

		&:before {
			transition: all .3s;
			position: absolute;
			left: -20px;
			top: auto;
			bottom: auto;
			right: auto;
			z-index: 2;
			height: 100%;
			width: 30%;
			line-height: 1;
			font-size: 30px;
		}

		&:hover {
			background-color: #dba218;

			&:after {			
				background-color: #36648f;
			}
		}
	}

	.city-box {
		padding: 20px;
	}

	hr {
		width: 90%;
		height: 1px;
		margin: 10px auto;
		border: none;
		outline: none;

		@include hr-fade($hover-color, $yellow, 25%, 75%);
	}

	span {
		color: $span-color;
		text-transform: uppercase;
		letter-spacing: 1.5px;

		&.temp-high {
			font-size: 40px;
			color: #cd2020;
		}

		&.temp-low {
			font-size: 20px;
			color: $blue;
		}

		&.slash {
			margin: 0 5px;
			font-size: 30px;
		}
	}
	img {

		//width: 80px;
		//height: 80px;
	}

	.hi-lo {
		position: absolute;
		right: 10px;
		z-index: 21;
		font-family: 'Montserrat';

		// @include transform(translateY(-30%));
	}
}

.card-flex {
	padding-top: 50px;
	display: flex;
	justify-content: space-around;
}

.hotel-card {
	display: inline-block;
	text-align: center;
	width: 330px;
	vertical-align: middle;
	cursor: pointer;
	position: relative;

	@include perspective(1500px);
	@include transition(all .3s);

	&:hover {
		@include transform(translateY(-10px));
	}

	.flipper-card {
		position: relative;
		transform-style: preserve-3d;

		@include transition(all 1s, box-shadow .2s);
		box-shadow: 4px 4px 25px black;
	}	

	.front {
		visibility: visible;
		opacity: 1;
		background-color: #676767;
		@include transition(all linear 0s 0.25s);
	}

	.back {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		visibility: hidden;
		opacity: 0;
		z-index: -1;

		@include transition(all linear 0s 0.25s);
		@include transform(rotateY(180deg));
	}

	// .front,
	// .back-flip {
	// 	* {
	// 		visibility: inherit !important;
	// 	}
	// }

	.fliptest {
		@include transform(rotateY(180deg));

		.front {
			visibility: hidden;
			opacity: 0;

			@include transition(all linear 0s 0.25s);
		}

		.back-flip {
			visibility: visible;
			opacity: 1;

			@include transition(all linear 0s 0.25s);
		}
	}

	h2 {
		font-size: 32px;
		height: 80px;
		width:100%;
		display: inline-block;
		position: relative;
		span {
			left:0;
			width:100%;
			@include y-center();
			color: #e6b122;
			padding:5px;
		}
	}

	.description {
		display: inline-block;
		text-align: left;
		padding: 10px;

		p {
			line-height: 1.25;
			text-indent: 20px;
		}
	}

	.rating {
		
		.glyphicon,
		.eleganticon {
			font-size: 28px;
			color: $yellow;
		}

		div {
			display: inline-block;
		}

		p {
			display: table-cell;
			vertical-align: middle;
			font-size: 22px;
			text-indent: 5px;

			.slash {
				color: #898989;
				margin: 0 5px;
			}
		}
	}

	table {
		text-align: left;
		td {
			height: 40px;
			padding-left: 5px;
			vertical-align: middle;
		}

		.glyphicon,
		.eleganticon {
			// float: left;
			font-size: 24px;
			margin-right: 5px;
			color: #898989;
		}

		div {
			display: inline-block;
		}

		p,
		a {
			display: table-cell;
			line-height: 24px;
			// height: 24px;
			vertical-align: middle;
		}

		a {
			color: $link-color;

			@include transition(all 0.3s);

			&:hover {
				color: $yellow;
			}
		}
	}

	.caret {
	  display: inline-block;
	  width: 0;
	  height: 0;
	  margin-left: 8px;
	  vertical-align: middle;
	  border-top: $caret-size solid;
	  border-right: $caret-size solid transparent;
	  border-left: $caret-size solid transparent;

	  @include transition(all 0.3s);

	  &.open {
	  	@include transform(rotate(180deg));
	  }
	}

	.map {
		height: 0;
		overflow: hidden;
		margin-top: 0px;

		@include transition(all 0.3s);

		&.open {
			height: 100%;
		}

		iframe {
			display: block;
			width: 100%;
			height: 100%;
			border: none;
		}
	}

	/*@media (min-height: 901px) {
		.map.open {
			height: 800px;

			iframe {
				height: 800px;
			}
		}
	}*/

	button {
		display: block;
		width: 50px;
		height: 50px;
		position: absolute;
		bottom: 0;
		right: 0;
		outline: none;
		border: none;
		background: $blue;

		@include transition(all 0.3s);

		&:hover {
			background: $yellow;

			span {
				color: $dark-grey;
			}
		}

		span {
			color: $light-grey;
			font-size: 22px;

			@include transition(all 0.3s);

			&.glyphicon-plus {
				margin-right: -4px;
			}

			&.glyphicon-remove {
				margin-right: -1px;
			}
		}
	}
}

.selected-card {
	.flipper-card {
		box-shadow: 0px 0px 20px white;
	}
}