<title>Contact Us - 

<%= render :partial => 'templates/head' %>

<div class="content">

	<h1>Contact <span>Us</span></h1>

	<ul>

    <li class="item">
      <div>

        <div class="price-img">
          <%= image_tag("logo.png") %>
        </div>

        <div class="description">
          <!-- <h2></h2> -->
          <p>Here at World Wide Wanderings, we're committed to being available to our customers. We work to provide a positive customer service experience to our viewers and to keep them satisfied. Feel free to email, call, or even snail mail us at the information below and we will get back to you as soon as we can. You may also fill out the following form to submit to us any questions or comments you may have.</p>
        </div>

      </div>

      <div>

      	<table>

          <tr>

            <td>
              <span class="eleganticon icon_mail_alt"></span>
              <div>
                <a href="mailto:worldwidewanderings@gmail.com">worldwidewanderings@gmail.com</a>
              </div>
            </td>

            <td>
              <span class="eleganticon icon_phone"></span>
              <div>
                <p>+1 208 867 5309</p>
              </div>
            </td>

          </tr>

          <tr>

          	<td>
              <span class="eleganticon icon_pin_alt"></span>
              <div>
                <p>P.O. Box 9001 Coeur d'Alene, ID 83814</p>
              </div>
            </td>

          </tr>

        </table>

       </div>

    </li>

  </ul>

  <table class="contact">
  <form action="">

		<tr>
			<th>First Name <span class="ast">&#42;</span></th>
			<td><input type="text" id="first" name="first" required="true"></td>
		</tr>

		<tr>
			<th>Last Name <span class="ast">&#42;</span></th>
			<td><input type="text" id="last" name="last" required="true"></td>
		</tr>

		<tr>
			<th>Email Address <span class="ast">&#42;</span></th>
			<td><input type="text" id="email" name="email" required="true"></td>
		</tr>

		<tr>
			<th>Phone Number</th>
			<td><input type="text" id="phone" name="phone"></td>
		</tr>

		<tr>
			<td colspan="2">
				<span>Address</span>
				<input type="text" id="address" name="address">
			</td>
		</tr>

		<tr>
			<td colspan="2">
				<span>Questions &amp; Comments <span class="ast">&#42;</span></span>
				<textarea id="comment" name="comment" required="true"></textarea>
			</td>
		</tr>

		<tr>
			<td><span><span class="ast">&#42;</span> - Required Field</span></td>
			<td><input id="submit" name="submit" type="submit" value="Submit"></td>
		</tr>

  </form>

	</table>

 	<!-- <iframe src="https://www.google.com/maps/embed/v1/place?q=Coeur%20d'Alene%2C%20ID%2C%20United%20States&key=AIzaSyCut1cnBQYw80bK0y8C2MLfOX2albDaQUM"></iframe> -->

</div>