<title>Contact Us - 

<%= render :partial => 'templates/head' %>

<div class="content">

	<h1>Contact <span>Us</span></h1>

	<ul>

    <li class="item">
      <div>

        <div class="price-img">
          <%= image_tag("logo.png") %>
        </div>

        <div class="description">
          <!-- <h2></h2> -->
          <p>Here at World Wide Wanderings, we're committed to things.</p>
        </div>

      </div>

      <div>

      	<table>

          <tr>

            <td>
              <span class="eleganticon icon_mail_alt"></span>
              <div>
                <a href="mailto:worldwidewanderings@gmail.com">worldwidewanderings@gmail.com</a>
              </div>
            </td>

            <td>
              <span class="eleganticon icon_phone"></span>
              <div>
                <p>+1 208 867 5309</p>
              </div>
            </td>

          </tr>

          <tr>

          	<td>
              <span class="eleganticon icon_pin_alt"></span>
              <div>
                <p>P.O. Box 9001 Coeur d'Alene, ID</p>
              </div>
            </td>

          </tr>

        </table>

       </div>

    </li>

  </ul>

 	<!-- <iframe src="https://www.google.com/maps/embed/v1/place?q=Coeur%20d'Alene%2C%20ID%2C%20United%20States&key=AIzaSyCut1cnBQYw80bK0y8C2MLfOX2albDaQUM"></iframe> -->

</div>