<div class="converter">
	<span class="title">Currency Converter</span><br/>
	<span class="prompt">Amount:</span><input type="text" id="amount" name="amount"><br/>
	<span class="prompt">From:</span>
	<select id="from" name="from">
		<option value="USD">US Dollar(USD)</option>
		<option value="EUR">Euro(EUR)</option>
		<option value="GBP">British Pound(GBP)</option>
		<option value="AUD">Australian Dollar(AUD)</option>
	</select><br/>
	<span class="prompt">To:</span>
	<select id="to" name="to">
		<option value="USD">US Dollar(USD)</option>
		<option selected="true" value="EUR">Euro(EUR)</option>
		<option value="GBP">British Pound(GBP)</option>
		<option value="AUD">Australian Dollar(AUD)</option>
	</select><br/>
	<span class="prompt">Result:</span><span id="result"></span>

</div>

<script type="text/javascript">
	var request = function() {
		var amount = $("#amount").val();
		var from = $("#from").val();
		var to = $("#to").val();
		$.ajax({url:"/convert", data: {amount: amount, from: from, to: to}, success:function(data){
			$("#result").text(data);
		}});
	}

	$("#amount").keyup(request);
	$("#from").change(request);
	$("#to").change(request);

	
</script>
