<meta name="description" content="Find out how much money you would have in another country.">

<title>Currency Converter - 

<%= render :partial => 'templates/head' %>

<div class="content">

	<h1 class="title">Currency <span>Converter</span></h1>

	<table class="calculator">

		<tr>
			<th>Amount</th>
			<td><input type="text" id="amount" name="amount"></td>
		</tr>

		<tr>
			<th>From</th>
			<td>
				<select id="from" name="from">
					<option value="USD">US Dollar(USD)</option>
					<option value="EUR">Euro(EUR)</option>
					<option value="GBP">British Pound(GBP)</option>
					<option value="AUD">Australian Dollar(AUD)</option>
				</select>
			</td>
		</tr>

		<tr>
			<th>To</th>
			<td>
				<select id="to" name="to">
					<option value="USD">US Dollar(USD)</option>
					<option selected="true" value="EUR">Euro(EUR)</option>
					<option value="GBP">British Pound(GBP)</option>
					<option value="AUD">Australian Dollar(AUD)</option>
				</select>
			</td>
		</tr>

		<tr>
			<th>Result</th>
			<td><span id="result"></span></td>
		</tr>

	</table>

</div>

<script type="text/javascript">
	var request = function() {
		var amount = $("#amount").val();
		var from = $("#from").val();
		var to = $("#to").val();
		$.ajax({url:"/convert", data: {amount: amount, from: from, to: to}, success:function(data){
			$("#result").text(data);
		}});
	}

	$("#amount").keyup(request);
	$("#from").change(request);
	$("#to").change(request);

	
</script>
