<div style="width:200px;height:250px;border:1px solid #2D6AB4;background-color:#F0F0F0;">
	<div style="background-color:#2D6AB4;height:18px;text-align:center;width:196px; margin:2px 0px 0px 2px;">
		<span>Currency Converter</span>
	</div>
	<script type="text/javascript">
		var fm="USD";
		var ft="EUR";
		var hb="2D6AB4";
		var hc="FFFFFF";
		var bb="F0F0F0";
		var bo="2D6AB4";
		var tz="timezone";
		var wh="200x250";
		var lg="en";
	</script>
	<script type="text/javascript" src="http://www.fxexchangerate.com/converter.php">
	</script>
</div>
