<meta name="description" content="Welcome to World Wide Wanderings, where you can read about various travel destinations and pick the best one for you!">

<title>

<%= render :partial => 'templates/head' %>

<%= render :partial => 'templates/tiles' %>

<%= render :partial => 'templates/slideshow' %>

<%= render :partial => 'templates/flipper' %>

<!-- <div class="holiday">

</div>

 render :partial => 'templates/calendar' %>

<div class="instafeed">

</div> -->