<title>HTML5 Validation - 

<%= render :partial => 'templates/head' %>

<div class="content">

	<h1><span>HTML5</span> Validation</h1>

	<ul>

    <li class="item">
      <div>

        <div class="price-img">
          <%= image_tag("w3c.svg") %>
        </div>

        <div class="description">
          <!-- <h2></h2> -->
          <p>In order to make sure that we provide a user-friendly and browser-friendly viewing experience, we have designed this site to conform to the World Wide Web Consortium's HTML5 standards. Our code is validated by the W3C's HTML5 validator and has no errors in it.</p>
        </div>

      </div>
    </li>

  </ul>

</div>