<%= form_for(@copyright) do |f| %>
  <% if @copyright.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@copyright.errors.count, "error") %> prohibited this copyright from being saved:</h2>

      <ul>
      <% @copyright.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
