<div class="content">

  <h1>Copyright <span>Information</span></h1>

  <ul>

    <li class="item">
      <div>

        <div class="about-img">
          <img src="/assets/copyright.png">
        </div>

        <div class="description about-description">
          <!-- <h2></h2> -->
          <p>The informational icons used in this site are a creation of Nick Roach and are credited to him under the GPL 2.0 and MIT licenses. The weather icons used in this site are a creation of Ali Sisk and are licensed to him under the SIL and MIT licenses. The logo image of this site is an original creation of the developers and is credited to them. The images of the developers are credited to themselves. The Business Professionals of America logo and tagline are both licensed by Business Professionals of America. All other images are licensed under the Creative Commons.</p>
        </div>

      </div>
    </li>

  </ul>

</div>













<!-- <h1>Listing copyrights</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @copyrights.each do |copyright| %>
      <tr>
        <td><%= link_to 'Show', copyright %></td>
        <td><%= link_to 'Edit', edit_copyright_path(copyright) %></td>
        <td><%= link_to 'Destroy', copyright, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Copyright', new_copyright_path %>
 -->